/* font options */
$mainColor                 : #1f285a;
$mainFontWeight            : 500;
$mainFontSize              : 13px;
$mainFont                  : 'Montserrat', sans-serif;
$mainLineHeight            : 17px;

/* screen resolution */
$mobileWidth               : 576px;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1200px;
$desktopWidth_md           : 1440px;
$desktopWidth_lg           : 1920px;

/* primary colors */
$backgroundColor           : #e5e5e5;
$backgroundColor_com       : #f8f8fc;
$linkColor                 : #182c9f;
$accentColor               : #0ea6a6;
$white                     : #ffffff;
$darkGrey                  : #3a4158;
$paleGrey                  : #d0d2e0;
$lightGrey                 : #f4f5fc;

/* complementary colors */
$red                       : #e32a01;
$yellow                    : #ffe600;
$blue                      : #2c9aea;
$darkBlue                  : #4c537b;
$orange                    : #e38901;
$successColor              : rgba(24, 44, 159, .8);
$errorColor                : rgba(227, 42, 1, .8);

/* table colors */
$titleTableColor           : #161d42;
$linkTableColor            : #3447b4;